@media (max-width: 1280px) {
    .nav-side {
        display: none;
    }
}

@media (max-width: 768px) {
    .fullpage-section>.swiper-wrapper {
        height: 100% !important;
    }

    .fullpage-section>.swiper-wrapper>.swiper-slide {
        height: auto;
    }

    .btn_fixed {
        display: none;
    }

}